
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sorteos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    

</head>
<body class="fondo">
    <div >
        <div class="text-center">
            <h1 class="display-4">Sorteos en linea</h1>
        </div>
    </div>
    <section class="buttons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google-plus"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
